@import '../../variable';

.poll {
  display: flex;
  margin: 1em 0;
  .avatar {
    display: flex;
    align-items: center;
    padding-right: 1em;
    border-right: 0.1em solid $divider-color;

    img {
      object-fit: cover;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }

  .question {
    padding-left: 1em;
    width: 100%;
    min-width: 16em;

    .title {
      font-weight: 500;
    }
  }
}

.voted-tag {
  position: absolute;
  top: -20px;
  right: -12px;
  font-size: 33px;
  color: $secondary-main-color;
}
