@import "../../variable";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $primary-main-color;
  color: $contrast-text-color;
  font-size: 1.2em;

  nav {
    width: 50%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
  }

  li {
    padding: 0;
    width: 20%;
    text-align: center;
    border: none;

    a {
      text-decoration: none;
      color: $disabled-text-color;
      display: block;
      width: 100%;
      padding: 0.5em 0;
      border-bottom: 0.2em solid transparent;

      &:hover,
      &.active {
        color: $contrast-text-color;
        border-bottom: 0.2em solid $secondary-main-color;
      }
    }
  }

  .user-section {
    width: 30%;
    display: flex;
    justify-content: space-evenly;

    .user-info {
      width: 30%;
      display: flex;
      justify-content: space-between;

      .user-avatar {
        width: 20%;
        border-radius: 50%;
      }

      p {
        align-self: center;
        margin: 0;
      }
    }
  }
}
