@import '../../variable';

ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

li {
  padding: 0.5em 5em;
  border-bottom: 0.1em solid $divider-color;
  color: $primary-main-color;
  font-weight: 500;

  &:hover {
    background: $primary-main-color;
    color: $contrast-text-color;
  }
}

.tab-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 3em;
}
