ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

li {
  padding: 0.5em 5em;
  border-bottom: 0.1em solid #e5e5e8;
  color: #3f51b5;
  font-weight: 500;

  &:hover {
    background: #3f51b5;
    color: #fff;
  }
}

.tab-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 3em;
}
