@import '../../variable';

.sign-in-form {
  width: 28%;
  .sign-in-form-header {
    text-align: center;
    background: #fff;
    font-size: 44px;
  }

  .submit-btn {
    margin: 1em 0;
  }
}

.link {
  color: $primary-main-color;
  padding-left: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
