@import "./variable";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  margin: 1em 0;

  &-header {
    background: $default-background-color;
    padding: 0.4em 1em;
    font-weight: 500;
  }

  &-content {
    padding: 0.4em 1em;
  }

  &.highlight {
    position: relative;
    box-shadow: none;
    background: $primary-highlight-color;
    border: 0.1em solid $primary-main-color;

    p {
      color: $primary-main-color;
      font-weight: 500;
    }
  }

  &.disabled {
    box-shadow: none;
    background: $default-background-color;
    border: 0.1em solid $divider-color;

    p {
      font-weight: 500;
    }
  }
}

button {
  width: 100%;
  height: 2em;
  border-radius: 4px;
  cursor: pointer;

  &.btn-outlined {
    background: transparent;
    border-color: $primary-main-color;
    color: $primary-main-color;

    &:hover {
      background: $primary-main-color;
      color: $contrast-text-color;
    }
  }

  &.btn-contained {
    background: $primary-main-color;
    border-color: $primary-main-color;
    color: $contrast-text-color;

    &:hover {
      color: $primary-light-color;
      color: $disabled-text-color;
    }
  }
}

.form-control {
  display: flex;
  flex-direction: column;

  .form-control-input {
    display: flex;
    flex-direction: column;
    margin: 1em 0;

    &.radio {
      flex-direction: row;
      align-items: center;
    }

    &.text {
      label {
        margin: 1em 0;
        font-weight: 500;
      }
    }

    .form-radio-input {
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 0.5rem;

      appearance: none;
      -webkit-appearance: none;

      border-radius: 50%;

      // Dot color
      background: $default-background-color;

      // Border between dot and outer border
      border: 3px solid $contrast-text-color;

      // Outer border
      box-shadow: 0 0 0 1px $divider-color;

      &:hover {
        box-shadow: 0 0 0 1px $secondary-main-color;
      }

      &:checked {
        box-shadow: 0 0 0 1px $secondary-main-color;
        background-color: $secondary-main-color;
        border-width: 0.2rem;
      }
    }

    .form-input-text {
      width: 97%;
      padding: 0.5em;
      border-radius: 4px;
      background: $paper-background-color;
      border: 0.1em solid $divider-color;

      &:focus-visible {
        outline: $primary-main-color auto 1px;
      }
    }

    select {
      width: 100% !important;
    }
  }
}

.custom-line-break {
  overflow: hidden;
  text-align: center;

  &:before,
  &:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}
