body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import './variable';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  margin: 1em 0;

  &-header {
    background: $default-background-color;
    padding: 0.4em 1em;
    font-weight: 500;
  }

  &-content {
    padding: 0.4em 1em;
  }
}

button {
  width: 100%;
  height: 2em;
  border-radius: 4px;

  &.btn-outlined {
    background: transparent;
    border-color: $primary-main-color;
    color: $primary-main-color;

    &:hover {
      background: $primary-main-color;
      color: $contrast-text-color;
    }
  }

  &.btn-contained {
    background: $primary-main-color;
    border-color: $primary-main-color;
    color: $contrast-text-color;

    &:hover {
      color: $primary-light-color;
      color: $disabled-text-color;
    }
  }
}
